// Colors

$offBlack: #20222B;
$offWhite: #a5afd7;
$drkBlue: #333745;
$blue: #3c4251;
$lightBlue: #464b5e;
$purple: #8357c5;

//Sizes
$smSize: 1.2rem;
$medSize: 1.6rem;
$lgSize: 3.2rem;
$xlSize: 4.8rem;
$desktopBreakpoint: 45rem;